.top
{
    background-color: #0066FF;
    height: 50px;
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
}

.middle
{
    background-color: #0066FF;
    height: 50px;
    padding-top: 25px;
    padding-bottom:20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

.form-container
{
    height: 75px;
    background-color: #CCCCFF;
    padding-bottom: 2px;
    padding-left: 20px;
    margin-bottom: 5px;
}